.card-deck {
    margin: 100px;
    cursor: pointer;
}

.card {
    background-color: transparent;
    border: none;
    padding: 30px;
    text-align: center;
}

.card:hover  {
    color:#ed6a5a;
    

}
a{
    color:black
}
.card:hover a{
    color:#ed6a5a;
    text-decoration: none
    

}


.non-display{display:none
}
.card:hover .non-display{display:inline
}
.card:hover .display{
display:none;
}

.card-title {
    text-align: center;
    font-weight: bolder;
    font-size: 30px

}

.card-text{
    font-size: 16px;
    text-align: justify

}
.card-bottom {

    text-align: center;
    cursor: pointer;
    display: block;
    font-size: 20px;
   font-weight: 900
    



}
.card-body{
padding-left: 0px ;
padding-right:0px;

}



.footer-circle {
    width: 64px;
    height: 64px;
    margin: 0 auto;
    text-align: center;
}

.footer-text {
    margin-top: 15px;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
}

footer>div{
    width:678px;
    color:#ED6A5A;
}

.flex-footer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding-top: 65px;
    flex-wrap: wrap;
    background-color: #ED6A5A;
}

footer>div>div {
    width:225px
}

@media screen and (max-width: 768px) {
    .flex-footer {
        width: calc(270/320*100%);
    }
    footer>div>div {
        width: 50%
    }
}

@media screen and (min-width: 1024px) {
    .flex-footer {
        max-width: 100%;
    }
   
}

.flex-footer>div {
    min-width: 114px;
    margin-bottom: 48px;

}

.flex-footer>img {
    min-width: 114px;
    margin-bottom: 48px;
}